<ion-view view-title="{{playlistId}}" cache-view="false">
  <ion-content>
    <h1>{{playlistId}}</h1>
    <audio ng-src="{{trustedUrl}}" controls="true" id="audio"></audio>
    <div class="item range">
      <i class="icon ion-minus" ng-click="updatePlaybackRate(-0.1)"></i>
      <input
        type="range"
        min="0.5"
        max="3.0"
        step="0.1"
        ng-model="data.playbackRate"
        ng-change="updatePlaybackRate()"
        ng-model-options="{debounce: 250}"
      >{{data.playbackRate | number:1}}
      <i class="icon ion-plus" ng-click="updatePlaybackRate(0.1)"></i>
    </div>
    <div class="button-bar bar-positive">
      <button class="button ion-reply" ng-click="backward()"></button>
      <button class="button ion-forward" ng-click="foreward()"></button>
    </div>
  </ion-content>
</ion-view>
